* {
    margin: 0;
    padding: 0;
}


/* body {
    height: 100vh;
} */

.container {
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 100px 150px auto 75px;
    grid-template-areas: "header header" "sidebar nav" "sidebar article" "footer footer";
    gap: 4px;
}

.container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
}

.header {
    background-color: #393f4d;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.logo {
    justify-self: flex-start;
}

.menu {}

.menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.menu ul,
.menu li {
    font-size: 16px;
}

.sidebar {
    background-color: #FF7755;
    grid-area: sidebar;
}

.sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
}

.photo {}

.sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.nav {
    background-color: #FF7755;
    grid-area: nav;
}

.nav ul {}

.nav ul li {
    font-size: 16px;
    text-transform: uppercase;
}

.article {
    background-color: #bccbde;
    grid-area: article;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: min-content;
    gap: 15px;
}

.article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
}

.article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    height: 200px;
}

.card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
}

.card .title {
    font-size: 18px;
    text-align: center;
}

.footer {
    background-color: #393f4d;
    grid-area: footer;
}

.footer p {
    font-size: 13px;
    font-weight: normal;
}